*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}





/* h4 {
    font-size: 18px;
    line-height: 34px;
    color: rgb(202, 200, 200);
    margin-left: 114px;
    margin-top: -12px;
  }
  
  h5 {
    font-size: 15px;
    line-height: 34px;
    color: rgb(202, 200, 200);
    margin-left: 114px;
    margin-top: -15px;
  } */

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: black;
}

.logo {
    margin-top: -24px;
    margin-left: 30px;
    margin-right: 20px;
}


.logo img {
    height: 70px;
    margin: 26px -25px;
    border-radius: 10px;
    margin-left: -90px;
}

#nav-1 {
    font-size: 20px;
    line-height: 37px;
    color: rgb(143 251 125);
    /* margin-left: 0px; */
    margin-top: -96px;
  }
  
  .nav-h4 {
    font-size: 15px;
    color: rgb(143 251 125);
    margin-top: -1px;
  }
  
  .nav-h5 {
    font-size: 12px;
    color: #fcfcfc;
    margin-top: 10px;
  }
  
  .nav-h5 a {
    text-decoration: none;
    color: rgb(202, 200, 200);
    ;
  }
  
  .nav-h5 a:link {
    text-decoration: none;
    color: rgb(202, 200, 200);
  }

.header {
    /* border-bottom: 3px solid #ededed;
    background-color: #ffffff; */
    /* min-height: 68px; */
    /* display: flex; */
    /* position: sticky; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 10px rgb(143 251 125);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: -1px 80px;
    background-color: black;
    size: 10px;
    z-index: 1000;
}

.hidden {
    display: none;
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.header .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

/* Mobile menu styles */
.header .header-row .mobile-menu {
    position: absolute;
    background-color: rgb(143, 251, 125);
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 3px solid rgb(143, 251, 125);
}

.header .header-row .mobile-menu {
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
}

.header .header-row .mobile-menu ul {
    list-style: none;
}

.header .header-row .mobile-menu ul li {
    margin-bottom: 10px;
}

.header .header-row .mobile-menu ul li:hover {
    background-color: rgba(222, 225, 226, 0.466);
}


/* Mega menu styles */
.header .header-row .mobile-menu ul li.mega-menu {
    position: relative;
}

.header .header-row .mobile-menu ul li.mega-menu .mega-menu-wrapper {
    display: none;
}

.header .header-row .mobile-menu ul li a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: rgb(128, 131, 131);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.header .header-row .mobile-menu ul li.mega-menu:hover .mega-menu-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
   
}

.header .header-row .mobile-menu ul li.mega-menu .mega-menu-wrapper .mega-menu-col {
    margin-bottom: 20px;
}

.header .header-row .mobile-menu ul li.mega-menu .mega-menu-wrapper .mega-menu-col h5 {
    font-weight: 800;
    text-transform: uppercase;
}

.header .header-row .mobile-menu ul li.mega-menu .mega-menu-wrapper .mega-menu-col ul li a {
    font-weight: 400;
}

/* mega menu hover effect  */

/* .header .header-right ul li a:hover::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(143, 251, 125);
  transform-origin: bottom right;
  transition: transform 0.6s ease;
}

.header .header-right ul li a:hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

/* Simple drop down menu */
.header .header-row .mobile-menu ul li.dropdown {
    position: relative;
}

.header .header-row .mobile-menu ul li.dropdown .sub-menu-wrapper {
    display: none;
}

.header .header-row .mobile-menu ul li.dropdown .sub-menu-wrapper ul li a {
    font-weight: 400;
    padding-left: 15px;
}

.header .header-row .mobile-menu ul li.dropdown:hover .sub-menu-wrapper {
    display: block;
}


/* Hide desktop menu on mobile up to 48em */
@media (max-width: 48em) {
    .header .header-row .header-right .main-menu {
        display: none;
    }
}


/* Show menu on desktop 48em and above */
@media (min-width: 48em) {
  
    .header {
        /* border-bottom: 3px solid #ededed; */
        background-color: black;
    }

    .header .header-row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    .header .mobile-toggler {
        display: none;
    }

    .header .header-row .header-right .main-menu {
        display: flex;
    }

    .header .header-row .header-right .main-menu li.menu-item {
        display: block;
        color: #000;
        font-size: 25px;
    }

    .header .header-row .header-right .main-menu li.dropdown {
        position: relative;
    }

    .header .header-row .header-right .main-menu li.menu-item:not(:last-child) {
        margin: 0 20px 0 0;
    }

    .header .header-row .header-right .main-menu li.menu-item a {
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        color: white;
        padding: 40px 14px 40px 14px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
    }

    .header .header-row .header-right .main-menu li.menu-item a.active {
        color: rgb(255, 255, 255);
    }
       
    .header .header-row .header-right .main-menu .sub-menu-wrapper {
        position: absolute;
        text-align: left;
        margin: 0;
        z-index: 111;
        min-width: 100%;
        line-height: 20px;
        display: none;
    }

    /* Show dropdown menu on hover */
    .header .header-row .header-right .main-menu>li.menu-item:hover .sub-menu-wrapper {
        display: block;
    }

    .header .header-row .header-right .main-menu .dropdown ul.sub-menu {
        background-color: #ffffff;
        border-top: 3px solid rgb(143, 251, 125);
        min-width: 200px;
        padding: 0px 0;
        box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
        text-transform: none;
    }

    .header .header-row .header-right .main-menu li.menu-item:hover .sub-menu-wrapper li.menu-item {
        padding: 0;
        margin-right: 0;
    }

    .header .header-row .header-right .main-menu li.menu-item:hover .sub-menu-wrapper li.menu-item>a {
        padding: 8px;
        display: block;
        text-transform: none;
        color: #0f0f0f;
        font-size: 16px;
        font-weight: 400;
    }

    .header .header-row .header-right .main-menu .sub-menu-wrapper ul li:not(:last-child) {
        border-bottom: 1px solid rgba(204, 204, 204, 0.432);
    }

    .header .header-row .header-right .main-menu .sub-menu-wrapper ul li:hover {
        background-color: #ededed;
    }


    /* Mega menu styles */
    .header .header-row .header-right .main-menu .mega-menu .mega-menu-wrapper {
        position: absolute;
        left: 0px;
        display: none;
        padding: 20px 25px;
        background-color: #ffffff;
        border-top: 3px solid rgb(143, 251, 125);
        width: 100%;
        box-shadow: 0 5px 8px rgb(0 0 0 / 15%);

    }


    /* Show mega menu on hover */
    .header .header-row .header-right .main-menu li.mega-menu:hover .mega-menu-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .header .header-row .header-right .main-menu li.mega-menu:hover .mega-menu-wrapper .mega-menu-col h5 {
        text-transform: uppercase;
        margin-bottom: 15px;
        padding-left: 8px;
    }

    .header .header-row .header-right .main-menu li.mega-menu:hover .mega-menu-wrapper .mega-menu-col ul {
        list-style: none;
        margin-left: 0px;
        margin-right: 20px;
    }

    .header .header-row .header-right .main-menu li.mega-menu:hover .mega-menu-wrapper .mega-menu-col ul li a {
        text-decoration: none;
        padding: 8px;
        display: block;
        font-size: 16px;
        color: rgb(0, 0, 0);
    }

    .header .header-row .header-right .main-menu li.mega-menu:hover .mega-menu-wrapper .mega-menu-col ul li:hover a {
        background-color: rgba(222, 225, 226, 0.466);
    }

}






.header .mobile-toggler {
    color: #ffffff;
    background-color: rgb(143, 251, 125);
    cursor: pointer;
    padding: 7px 13px;
    text-align: center;
    font-size: 13px;
    vertical-align: middle;
    margin: 8px 0 8px 1em;
    line-height: 20px;
}




/* .hero {
  background: rgb(5,146,200);
  background: linear-gradient(107deg, rgba(5,146,200,1) 0%, rgba(15,113,117,1) 100%);
  padding: 50px 20px;
  min-height: 80vh;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 40px;
} */

@media (min-width: 48em) {
    .hero {
        font-size: 60px;
    }
}

/* Container styles */
.container {
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 36em) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 36em) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 48em) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 62em) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 75em) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 87.5em) {
    .container {
        max-width: 1380px;
    }
}

/* for whatsapp button  */

#wp {
    right: 20px;
    bottom: 20px;
    position: fixed;
}

#wp img {
    border-radius: 30px;
}

#wp img:hover {
    box-shadow: 2px 2px 2px 2px rgb(143, 251, 125);
}

/* Home section */
#home {
    background: url(/img/SEElogo.jpg) no-repeat center center/cover;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#p1 {
    margin: 20px;
    font-size: 20px;
    text-align: left;
    color: #f1eded;
    width: 500px;
    margin-left: 40px;
}

/* Featured work section */
#fw {
    background-color: black;
    padding: 20px;
}

#fw-1 {
    color: rgb(143, 251, 125);
    margin: 0 auto;
    margin-left: 25px;
    font-size: 40px;
}

.fw-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slider {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.content,
.image {
    flex: 1 0 50%;
}

.content h6 {
    font-size: 30px;
    color: rgb(143, 251, 125);
    margin-left: 180px;
}

.content p {
    font-size: 19px;
    color: #fcfbfb;
    margin-left: 190px;
    margin-top: 10px;
}

.image img {
    width: 300px;
    border-radius: 43px;
    margin-left: 100px;
}

h6,
p {
    margin: 0;
    padding: 0;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgb(143, 251, 125);
    color: black;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}


/* why choose us section starts*/

#wcu-h {
    color: rgb(143, 251, 125);
    font-size: 40px;
    margin-left: 30px;
}

.wcu-p {
    color: #f1eded;
    font-size: 20px;
    margin-left: 3%;
}

/* why choose us section ends  */

/* footer section starts */

#footer {
    background-color: #121212;
    color: #ffffff;
    padding: 40px;
}

#footer .container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

#footer .footer-content {
    /* width: 45%; */
    margin-bottom: 30px;
    margin: 40px;
}

#footer .info {
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(143, 251, 125);
}

#i-ul li {
    list-style: none;
    cursor: pointer;
}

#footer .cu {
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(143, 251, 125);
}

#footer p {
    font-size: 14px;
    margin-bottom: 5px;
}

#footer .fu {
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(143, 251, 125);
}



#footer .social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
}

#map-container {
    max-width: 300px;
    margin: 0 auto;
}

#map-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px rgb(143, 251, 125);
    transition: 0.2s ease;
}

#map-container img:hover {
    box-shadow: 2px 2px 1px 1px rgb(143, 251, 125);
}

.copyright .cr {
    margin-left: 100px;
}

/* about us section  */

.about-h {
  margin: 10px;
  font-size: 40px;
  color: rgb(143, 251, 125);
}

.about-p {
  margin-top: 100px;
  margin-left: 3px;
  font-size: 18px;
  color: #fcfbfb;
}

#MVA {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  /* box-shadow: 2px 2px 2px 2px grey; */
  transition: 0.2s ease;
}

/* #MVA :hover{
  box-shadow: 2px 2px 2px 2px rgb(141, 245, 141);
} */

#MVA .m-container {
  margin: 50px;
  height: auto;
  width: 320px;
  cursor: pointer;
  border: 4px solid rgb(146, 243, 146);
  border-radius: 20px;
  flex-wrap: wrap;

}


#MVA .m-container img {
  margin-top: 10px;
}

#MVA .m-container .m-h {
  color: #fcfbfb;
}

#MVA .m-container .m-p {
  color: #fcfbfb;
  font-size: 17px;
  text-align: justify;
  width: 295px;
  margin-left: 10px;
}

/* clients section  */

.clients .c-h {
  color: rgb(143, 251, 125);
  margin: 30px;
  font-size: 40px;
}

#AU-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  /* Adjust the maximum width of the slider container */
  margin-left: 500px;
  overflow: hidden;
}

.AU-slider-container {
  position: relative;
  width: 300px;
  padding: 0;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}

.slider-track {
  display: flex;
  width: 100%;
  animation: slideAnimation 50s linear infinite;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  padding: 0 10px;
  /* Adjust the spacing between slides */
}

.slide img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% * 9));
    /* Adjust the value based on the number of slides */
  }
}

/* our team section  */

#team .ot-h {
  margin-left: 20px;
  font-size: 40px;
  color: rgb(143, 251, 125);
}

#team .ot-p {
  margin: 30px;
  color: #fcfbfb;
}

#team .team-m {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

#team .m-info {
  height: 400px;
  width: 23px;
  min-width: 250px;
  padding: 10px 12px;
  border: 2px solid #eee8e8;
  margin-left: 22px;
  margin-top: 34px;
  border-radius: 30px;
  box-shadow: rgb(143, 251, 125);
  transition: ease;
  cursor: pointer;
  position: static;
  margin-bottom: 50px;
}

#team .m-info img {
  margin-top: 30px;
  width: 100%;
  border-radius: 43px;
  transition: 0.2s ease;
}

#team .m-info img:hover {
  box-shadow: 2px 2px 1px 1px rgb(143, 251, 125);
}

#team .m-info .des {
  text-align: start;
  padding: 10px;
}

#team .m-info .des span {
  color: rgb(143, 251, 125);
}

/* for dropdown menu  */
#header .navbar ul li .dropdown {
  text-decoration: none;
  color: rgb(243, 235, 235);
  cursor: pointer;
}

#header .navbar ul li  .dropdown-content a {
  text-decoration: none;
  color: rgb(143, 251, 125);
}
/* .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 170px;
  box-shadow: 0px 2px 5px 0px rgb(143, 251, 125);
  z-index: 1;
}

.dropdown-content a {

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #504e4e;}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */


/* profile dropdown  */


.profile-dropdown {
  position: relative;
  display: inline-block;
  color: white;
  /* padding-top: 32px; */
}

.profile-dropdown i {
    color: white;
    margin-top: 33px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.p-dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 90px;
  box-shadow: 0px 2px 5px 0px rgb(143, 251, 125);
  z-index: 1;
}

.p-dropdown-content a {

  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-style: normal;
}

.p-dropdown-content a:hover {background-color: #504e4e;}

.profile-dropdown:hover .p-dropdown-content {display: block;}


#header .navbar .profile-dropdown {
  text-decoration: none;
  color: rgb(243, 235, 235);
  cursor: pointer;
}

#header .navbar  .p-dropdown-content a {
  text-decoration: none;
  color: rgb(143, 251, 125);
}

/* for login and sign up pages   */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

#header .navbar .p-dropdown-content #openModalBtn{
  text-decoration: none;
  color: rgb(143, 251, 125);
}
.modal-content {
  background-color: black;
  min-width: 170px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

/* for manufacturing page  */

#pro-details {
  display: flex;
  margin-top: 70px;
  margin-left: 50px;
  background-color: black;
}

#pro-details .s1-pro-details {
  width: 375px;
}

#pro-details .s1-pro-details img {
  border-radius: 50px;
  margin-top: 130px;
}

#pro-details .s1-pro-details img:hover {
  box-shadow: 2px 1px 2px 1px rgb(143, 251, 125);
  transition: 0.3s ease-in;
  cursor: pointer;
}

#pro-details .similar-pro {
  display: flex;
}



#pro-details .similar-pro-detail {
  padding: 40px 10px 20px 0px;
  width: 750px;
  margin-left: 60px;
}

#pro-details .similar-pro-detail .s-type {
  margin: 30px 0px 20px 0px;
  color: rgb(143, 251, 125);
  /* font-style: italic; */
}

/* #pro-details .similar-pro-detail .rs {
  margin: 0px;
  margin-bottom: 20px;
} */

#pro-details .similar-pro-detail .detail-p {
  font-size: 20px;
  color: white;
}

#pro-details .similar-pro-detail .pd {
  margin: 0px;
  margin-top: 20px;
  color: white;
}

#pro-details .similar-pro-detail #gbq {
  height: 40px;
  width: 200px;
  margin-left: 30px;
  font-size: 16px;
  justify-content: space-between;
  /* background-color: rgb(143, 251, 125); */
  cursor: pointer;
  font-weight: 300;
  font-style: bold;
  color: black;
}

#pro-details .similar-pro-detail #gbq:hover{
  box-shadow: 2px 1px 2px 1px rgb(143, 251, 125);
  transition: 0.3s ease-in;
  cursor: pointer;
}

/* for similar services  */

.h-fe-p {
  margin-top: 100px;
  text-align: center;
  margin-left: 0px;
  color: white;
}

.fe-p {
  text-align: center;
  font-size: 27px;
  color: rgb(143, 251, 125);
}

/* product-1 section  */
#product-1 {
  text-align: center;
}   

#product-1 .pro-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

#product-1 .pro {
  width: 23px;
  min-width: 250px;
  padding: 10px 12px;
  border: 2px solid #eee8e8;
  margin-left: 22px;
  margin-top: 34px;
  border-radius: 30px;
  box-shadow: rgb(23, 23, 22);
  transition: ease;
  cursor: pointer;
  position: relative;
  margin-bottom: 50px;
}

#product-1 .pro img {
  width: 100%;
  border-radius: 43px;
  transition: 0.2s ease;
}

#product-1 .pro img:hover {
  box-shadow: 2px 2px 1px 1px grey;
}

#product-1 .pro .des {
  text-align: start;
  padding: 10px;
}

#product-1 .pro .des span {
  color: rgb(66, 64, 64);
}

#product-1 .pro .des .star {
  color: goldenrod;
}

#product-1 .pro .des h4 {
  color: green;
  font-size: 20px;
  margin: 0px;
}

#product-1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid grey;
  border-radius: 50px;
  background-color: rgb(198, 216, 233);
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.similar-services{
  font-size: 30px;
  color: white;
}


/* Media Queries */
@media (max-width: 1000px) {
  #header {
    padding: 10px;
    height: 134px;

  }

  .logo img {
    height: 70px;
    margin: 26px -25px;
    border-radius: 10px;
    margin-left: -23px;
}

  .navbar {
    padding-left: 20px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  #nav-1 {
    font-size: 15px;
    color: rgb(143 251 125);
    margin-left: 59px;
  }

  .nav-h4 {
    font-size: 13px;
    color: rgb(143 251 125);
    margin-left: 59px;
  }

  .nav-h5 {
    font-size: 10px;
    color: #fcfcfc;
    margin-left: 57px;
  }



  #header .navbar ul {
    margin-left: -34px;
  }

  #header .navbar ul li {
    padding: 2px;
  }
   

  
  #header .navbar ul li .dropdown {
    /* padding: 5px 5px; */
    font-size: 12px;
    /* display: flex; */
  }


  #header .navbar ul li a {
    padding: 5px 5px;
    font-size: 12px;
    display: flex;
  }

  .profile-dropdown i {
    color: white;
    margin-top: 21px;
    margin-left: 10px;
    font-size: 13px;
    cursor: pointer;
}

  #home {
    height: auto;
    background-image: none;
    margin-top: -200px;
  }

  #p1 {
    margin-top: 400px;
    font-size: 16px;
    width: 300px;
  }

  #fw-1 {
    font-size: 24px;
    margin-left: 11px;
  }

  #fw .container img {
    width: 100%;
  }

  #footer .container {
    flex-direction: column;
  }

  #footer .footer-content {
    width: 100%;
  }

  #MVA .m-container .m-p {
    font-size: 15px;
    text-align: justify;
    margin: 10px;
  }

  #wcu-h {
    color: rgb(143, 251, 125);
    font-size: 24px;
    margin-left: 30px;
  }

  .wcu-p {
    color: #f1eded;
    font-size: 15px;
    margin-left: 3%;
  }

  .content p {
    width: 200px;
    font-size: 10px;
    color: #fcfbfb;
    margin-left: 100px;
    margin-top: 10px;
  }

  .content h6 {
    margin-left: 20px;
  }



  .image img {
    width: 200px;
    border-radius: 20px
  }

  ;

  /* clients section  */

  .clients .c-h {
    color: rgb(143, 251, 125);
    margin: 10px;
    font-size: 25px;
  }

  #AU-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    /* Adjust the maximum width of the slider container */
    margin-left: 0px;
    overflow: hidden;
  }

  .AU-slider-container {
    position: relative;
    width: 360px;
    padding: 0;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .copyright .cr {
    margin-left: 10px;
  }

  #pro-details .s1-pro-details {
    width: 375px;
  }
  
  #pro-details .s1-pro-details img {
    border-radius: 50px;
    margin-top: 130px;
    width: 100px;
  }
}



/* 768px  */


@media (max-width: 768px) {
  #header {
    padding: 10px;
    height: 134px;

  }

  /* #logo img {
    height: 50px;
  } */
  .logo img {
    height: 70px;
    margin: 26px -25px;
    border-radius: 10px;
    margin-left: -23px;
}

  .navbar {
    padding-left: 20px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  #nav-1 {
    font-size: 12px;
    color: rgb(143 251 125);
    margin-left: 59px;
  }

  .nav-h4 {
    font-size: 11px;
    color: rgb(143 251 125);
    margin-left: 59px;
  }

  .nav-h5 {
    font-size: 9px;
    color: #fcfcfc;
    margin-left: 57px;
  }



  #header .navbar ul {
    margin-left: -34px;
  }

  #header .navbar ul li {
    padding: 2px;
  }



  #header .navbar ul li a {
    padding: 5px 5px;
    font-size: 12px;
    display: flex;
  }

  #header .navbar ul li .dropdown {
    padding: 3px 5px;
    font-size: 12px;
    /* display: flex; */
  }

  .profile-dropdown i {
    color: white;
    margin-top: 21px;
    margin-left: 10px;
    font-size: 13px;
    cursor: pointer;
} 
  #home {
    height: auto;
    background-image: none;
    margin-top: -200px;
  }

  #p1 {
    margin-top: 400px;
    font-size: 16px;
    width: 300px;
  }

  #fw-1 {
    font-size: 24px;
    margin-left: 11px;
  }

  #fw .container img {
    width: 100%;
  }

  #footer .container {
    flex-direction: column;
  }

  #footer .footer-content {
    width: 100%;
  }

  #MVA .m-container .m-p {
    font-size: 15px;
    text-align: justify;
    margin: 10px;
  }

  #wcu-h {
    color: rgb(143, 251, 125);
    font-size: 24px;
    margin-left: 30px;
  }

  .wcu-p {
    color: #f1eded;
    font-size: 15px;
    margin-left: 3%;
  }

  .content p {
    width: 200px;
    font-size: 10px;
    color: #fcfbfb;
    margin-left: 100px;
    margin-top: 10px;
  }

  .content h6 {
    margin-left: 20px;
  }



  .image img {
    width: 200px;
    border-radius: 20px
  }

  ;

  /* clients section  */

  .clients .c-h {
    color: rgb(143, 251, 125);
    margin: 10px;
    font-size: 25px;
  }

  #AU-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    /* Adjust the maximum width of the slider container */
    margin-left: 0px;
    overflow: hidden;
  }

  .AU-slider-container {
    position: relative;
    width: 360px;
    padding: 0;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .copyright .cr {
    margin-left: 10px;
  }

 
  

}

@media (max-width: 1300px) {
  /* #header {
    padding: 10px;
    height: 134px;

  }

  #logo img {
    height: 50px;
  }

  .navbar {
    padding-left: 20px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  #nav-1 {
    font-size: 15px;
    color: rgb(143 251 125);
    margin-left: 59px;
  }

  .nav-h4 {
    font-size: 13px;
    color: rgb(143 251 125);
    margin-left: 59px;
  }

  .nav-h5 {
    font-size: 10px;
    color: #fcfcfc;
    margin-left: 57px;
  }



  #header .navbar ul {
    margin-left: -34px;
  }

  #header .navbar ul li {
    padding: 2px;
  }



  #header .navbar ul li a {
    padding: 5px 5px;
    font-size: 12px;
    display: flex;
  } */

  .profile-dropdown i {
    color: white;
    margin-top: 37px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

  #home {
    height: auto;
    background-image: none;
    margin-top: -200px;
  }

  #p1 {
    margin-top: 400px;
    font-size: 16px;
    width: 300px;
  }

  #fw-1 {
    font-size: 24px;
    margin-left: 11px;
  }

  /* #fw .container img {
    width: 100%;
  }

  #footer .container {
    flex-direction: column;
  }

  #footer .footer-content {
    width: 100%;
  } */

  
  #header .navbar ul li .dropdown {
    padding: 3px 5px;
    font-size: 12px;
    /* display: flex; */
  }

  #MVA .m-container .m-p {
    font-size: 15px;
    text-align: justify;
    margin: 10px;
  }

  #wcu-h {
    color: rgb(143, 251, 125);
    font-size: 24px;
    margin-left: 30px;
  }

  .wcu-p {
    color: #f1eded;
    font-size: 15px;
    margin-left: 3%;
  }

  .content p {
    width: 200px;
    font-size: 10px;
    color: #fcfbfb;
    margin-left: 100px;
    margin-top: 10px;
  }

  .content h6 {
    margin-left: 20px;
  }



  .image img {
    width: 200px;
    border-radius: 20px
  }

  ;

  /* clients section  */

  .clients .c-h {
    color: rgb(143, 251, 125);
    margin: 10px;
    font-size: 25px;
  }

  #AU-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    /* Adjust the maximum width of the slider container */
    margin-left: 0px;
    overflow: hidden;
  }

  .AU-slider-container {
    position: relative;
    width: 360px;
    padding: 0;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .copyright .cr {
    margin-left: 10px;
  }

}




